* {
    box-sizing: border-box;
}
p {
    color: #2c3e50;
    font: italic 20px Verdana ;
}
#para1 {
    color: #2ecc71;
}
.header {
    color: #e67e22;
}
h1 {
    background-color: linen;
}
body {
    background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
p::first-letter {
 color:#27ae60;
 font-size: 40px;
}
h1:first-of-type {
    visibility: hidden;
}
h1:first-of-type {
    display:none;
}
section {
    margin: 0 20%;
    
}

a:link{
    color:red
}
a:visited {
    color:black
}
a:hover {
    color:lightcoral
}
a:active {
    color:lightgreen
}
#assignment3 {
    font-size: 16px
}
ul>li {
    font-size: 0.8em;
}
ul>li {
    font-size: 0.8rem;
}
#mybox {
    width: 95vmin;
    height: 95vmin;
    background-color: blue;
}
.box {
    border:50px solid #e74c3c;
    padding: 50px;
    width: 50%;
    text-transform: uppercase;

}
.content {
    box-sizing: content-box;
    border-color: #16a085;
}
